<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="router2.php?action=accueil">ARAP / GOSI</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Vaccine management<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=vaccinReadAll">List of vaccines</a></li>
                    <li><a href="router2.php?action=vaccinCreate">Adding a vaccine</a></li>
                    <li><a href="router2.php?action=vaccinUpdate">Updating a vaccine</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Center management <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=centreCreate">Adding a center</a></li>
                    <li><a href="router2.php?action=centreReadAll">List of centers</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Patient management <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=patientCreate">Adding a patient</a></li>
                    <li><a href="router2.php?action=patientReadAll">List of patients</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Appointment management<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=patientViewId">Patient vaccination record</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Inventory management <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=stockReadAllVaccin">List of centers with the number of doses of each vaccine</a></li>
                    <li><a href="router2.php?action=stockReadAll">Overall number of doses from centers</a></li>
                    <li><a href="router2.php?action=stockCreate">Vaccine allocation for a center</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Our innovations<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=graphStockVaccin">Status of vaccine stocks</a></li>
                    <li><a href="router2.php?action=meteo">How should I dress to be vaccinated ?</a></li>
                    <li><a href="router2.php?action=mapCentreVaccination">  Where can I get vaccinated ?</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Documentation<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=innovation1">Innovation documentation : Status of vaccine stocks</a></li>
                    <li><a href="router2.php?action=innovation2">Innovation documentation : How should I dress to be vaccinated ?</a></li>
                    <li><a href="router2.php?action=innovation3">Innovation documentation : Where can I get vaccinated ?</a></li>
                    <li><a href="router2.php?action=avisGlobal">Global perspective on the project</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

