<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="router2.php?action=accueil">Arap / Gosi</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Manajemen vaksin<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=vaccinReadAll">Daftar vaksin</a></li>
                    <li><a href="router2.php?action=vaccinCreate">Menambahkan vaksin</a></li>
                    <li><a href="router2.php?action=vaccinUpdate">Memperbarui vaksin</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Manajemen pusat <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=centreCreate">Menambahkan pusat</a></li>
                    <li><a href="router2.php?action=centreReadAll">Daftar pusat</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Manajemen pasien <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=patientCreate">Menambahkan pasien</a></li>
                    <li><a href="router2.php?action=patientReadAll">Daftar pasien</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Manajemen janji temu<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=patientViewId">Catatan vaksinasi pasien</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Manajemen persediaan <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=stockReadAllVaccin">Daftar pusat dengan jumlah dosis masing-masing vaksin</a></li>
                    <li><a href="router2.php?action=stockReadAll">Jumlah keseluruhan dosis dari pusat</a></li>
                    <li><a href="router2.php?action=stockCreate">Alokasi vaksin untuk pusat</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Inovasi kami<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=graphStockVaccin">Status stok vaksin</a></li>
                    <li><a href="router2.php?action=meteo">Bagaimana saya harus berpakaian untuk divaksinasi ?</a></li>
                    <li><a href="router2.php?action=mapCentreVaccination">  Dimana saya bisa mendapatkan vaksinasi ?</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Dokumentasi<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router2.php?action=innovation1">Inovasi dokumentasi : Status stok vaksin</a></li>
                    <li><a href="router2.php?action=innovation2">Inovasi dokumentasi : Bagaimana saya harus berpakaian untuk divaksinasi ?</a></li>
                    <li><a href="router2.php?action=innovation3">Inovasi dokumentasi : Di mana saya bisa mendapatkan vaksinasi ?</a></li>
                    <li><a href="router2.php?action=avisGlobal">Perspektif global tentang proyek</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

